body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #d1d1d1, -20px -20px 60px #ffffff;
}

.logo-space {
    flex: 0 0 auto;
}

#logo {
    width: 50px; /* Adjust based on your logo size */
}

.header h1 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #ff5722;
}

#wallet-container {
    flex: 0 0 auto;
    position: relative;
}

#connectButton, #disconnectButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
    transition: background-color 0.3s;
}

#connectButton.orange {
    background-color: #ff9800;
}

#disconnectButton.red {
    background-color: #f44336;
}

#connectButton.orange:hover, #disconnectButton.red:hover {
    background-color: #ff7043;
}

#wallet-container button:hover::after {
    content: attr(data-wallet);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
    white-space: nowrap;
    font-size: 14px;
}

.main {
    width: 100%;
    max-width: 800px;
}

.neumorphism {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 20px 20px 60px #d1d1d1, -20px -20px 60px #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.large-text {
    font-size: 24px;
    font-weight: 600;
    color: #ff5722;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff7043;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
}

table th, table td {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

h2, h3 {
    color: #ff5722;
}
